
body{
    color: #6F8BA4;
    font-family: 'Nunito Sans', sans-serif;
}
/* navbar star */


div#navbar.whiteing{
    background-color: white;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
}


#navbar{
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: all 0.5s;
    font-weight: 700 ;   
}
#navbar .nav-item{
    padding: 15px 0px;
}

#navbar .dropdown .dropdown-menu{
    display: block;
    opacity: 0;
    visibility: hidden;
    width: 200px;
    height: 163px;
    margin: 0px 0px 0px 20px;
    padding: 0px;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 8%);
    border: none;
    transform: translateY(-15%);
    transition: all 0.5s;
    
    
}

#navbar .dropdown:hover .dropdown-menu{
    opacity: 1;
    visibility:visible;
    transition: all 0.5s;
    transform: translateY(0%);
}
  

#navbar .dropdown .dropdown-item{
    font-weight: 700;
    font-size: 14px;
    color: #6F8BA4;
    line-height: 40px;
    letter-spacing: 1px;
    border: transparent;
    border-bottom: 1px solid #F7F6FF;
    padding-left: 20px;
    margin: 0px;
}
#navbar .navList{
  margin-left: 70px;
  font-size: 14px;
  font-weight: 400;
}

#navbar .navList li a{
    font-family: 'Nunito', sans-serif;
    margin: 0px 20px ;
    padding: 0px;
    color: #6F8BA4;
    font-weight: 600;
}

#navbar .buttons{
    display: flex;

}

#navbar .buttons li{
    list-style-type: none;
    margin: 32px 0px 0px 15px;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
#navbar .buttons li a{
    text-decoration: none;
}
#navbar .buttons .signIn a{
    padding: 7px 33px;
    color: #1A153A;
    border: 1px solid #1A153A;
    border-radius: 5px;
    transition: 0.5s;
    font-weight: 900;
}
#navbar .buttons .signIn a:hover{
    background-color: #1A153A;
    color: white;
    transition: 0.5s;
}

#navbar .buttons .signUp a{
    padding: 7px 33px;
    color: white;
    border: 1px solid #1A153A;
    background-color: #1A153A;
    border-radius: 5px;
    font-weight: 900;
    transition: 0.5s;
}
#navbar .buttons .signUp a:hover{
    background-color:white;
    color:#1A153A;
    transition: 0.5s;  
}

/* navbar end */



/* header start */
#intro{
    padding-top: 100px;
    background: url("../img/header-bg.svg") top left no-repeat;
}
#intro .header-text{
margin: 150px 0px;
}
#intro .header-text h1{
    font-size: 30px;
    font-weight: 400px;
    color: #1E3056;
    font-weight: 600;
    line-height: 46px;
}

#intro .header-text a{
    text-decoration: none;
    padding: 10px 33px;
    font-weight: 700;
    color: white;
    border: 1px solid #1A153A;
    background-color: #1A153A;
    border-radius: 5px;
    transition: 0.5s;
}

#intro .header-text p{
    font-weight: 400;
    line-height: 28px;
    color: #697BA2;
    letter-spacing: 1px;
    padding: 20px 0px 30px 0px;
}

#intro .header-text a:hover{
    background-color: #100e1f;
}

#intro .item-grid{
    margin-left: 100px;
    display: grid;
    
    grid-template-areas:
     'item1 item2'
     'item1 item4'
     'item3 item4'    
}
.item1{ 
    grid-area: item1;

}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.item4{
    grid-area: item4;
}

#intro .item-grid .item{
    margin: 6px;
    border-radius: 5px;
    overflow: hidden;
   
    
}
#intro .item-grid .item img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

#intro .item-grid .image{
    height: 100%;
    position: relative;
  
}
#intro .item-grid img{
    width: 265px;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    
}
#intro .item-grid .image .content{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1A153A;
    height: 100%;
    border-radius: 5px;
    opacity: 0.8;
    color: white;
    padding: 100px 15px;
    line-height: 30px;
    font-size: 20px;  
}

/* header end */



/*  promo start*/

#promo{
    margin: 100px 0px;
   
    }
.animate__delay-2{
    animation-delay: 0.3s;
}
.animate__delay-3{
    animation-delay: 0.5s;
}
.animate__delay-4{
    animation-delay: 0.7s;
}
#promo .tabBtn{ 
   text-align: center;
   padding: 30px;
   display: inline-block;
   text-decoration: none;
   background-color: #FFFFFF;
   box-shadow: 0 2px 48px 0 rgb(0 0 0 / 8%);
   color: #3B566E;
   transition: 0.5s;
   border-radius: 5px;  
}
#promo .tabBtn:hover{
    transition: 0.5s;
    background-color: #1A153A;
    color: white;
    text-decoration: none;
    /* display: inline-block; */
}
#promo .tabBtn .icon span{
    display: inline-block;
    text-align: center;
    height: 60px;
    width: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #F7F6FF;
    color: black;
}
#promo .tabBtn .text h5{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px
}
#promo .tabBtn .text p{
   letter-spacing: 0.88px;
   margin-top: 20px;
   font-size: 14px;
   font-weight: 400;
}

/*  promo end*/


/* features star */
#features .left-text h2{
    font-weight: 400;
    font-size: 28px;
    color: #3B566E;
    letter-spacing: 1.75px;
}
#features .left-text p{
    color: #6F8BA4;
    line-height: 28px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 0px;
    
    
}
.cloud{
    padding: 100px 0px;
    background-color: #F7FAFD;
   
}
#features .Btn{
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-weight: 400;
    display: inline-block;
    background: #fff;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 8%);
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer;
    overflow: hidden;
}

#features .Btn span{
    color: #3B566E;
   
}
#features .Btn i{
    margin-left: 22px;
    margin-right: 32px;
    color: #3B566E;
    position: relative;
    z-index: 2;
    transition: all 0.5s;
}
#features .Btn::after{
    content: '';
    position: absolute;
    left: -70px;
    top: 0px;
    width: 150px;
    height: 100px;
    transform: rotate(60deg);
    background-color: #F7F6FF;
    transition: all 0.5s;
}

#features .active::after{
    content: '';
    position: absolute;
    left: -70px;
    top: 0px;
    width: 150px;
    height: 120px;
    transform: rotate(60deg);
    background: #1A153A;

  
}

#features .Btn:hover::after{
    height: 120px;
    background: #1A153A;
}
#features .Btn:hover i{
    margin-left: 30px;
    color: white;
    transition: all 0.5s;
}

#features .image img{
    max-width: 100%;
    padding-top: 65px;
}

#features .design{
    padding: 100px 0px;
    background-color: white;
}

/* features end */


/* parallax start */
.parallax-window {
    min-height: 315px;
    background: transparent;
}
#parallax-num{
    position: relative;
    overflow: hidden;
}
#parallax-num:before{
    content: '';
    position: absolute;
    width: 140%;
    height: 140%;
    opacity: .80;
    background: #1A153A;
    z-index: 0;
    top: -20%;
    left: -20%;
}
#parallax-num .parallax-content{
    text-align: center;
    color: #fff;
    font-weight: 400;
}
#parallax-num .parallax-content .count-item{
    position: absolute;
    top: 100px;
    width: 100%; 
    transition: 0.3s;

}
#parallax-num .parallax-content .count-item:hover{
    transform: translateY(-10%);
    transition: 0.3s;
}

#parallax-num .parallax-content .count-item strong{
    font-size: 40px;
    letter-spacing: 1.72px;
    margin-bottom: 15px;
    margin-top: 70px;
    font-weight: 400;

}
#parallax-num .parallax-content .count-item strong::before{
    content: '';
    position: absolute;
    left: -14px;
    right: 0px;
    top: 60px;
    margin: auto;
    width: 115px;
    height: 1px;
    border-top: 1px dashed #fff;
    font-weight: 400;
}

#parallax-num .parallax-content .count-item span{
    display: block;
    font-size: 20px;
    letter-spacing: 0.86px;
    margin-top: 15px;
    font-weight: 400;
}
/* paralax end */


/* footer start */
#Info{
    background: #1A153A;
    padding-top: 70px;
}
#Info img{
    margin-bottom: 30px;
}
#Info .text{
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    line-height: 26px;
    letter-spacing: 0.88px;
}

#Info h5{
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.69px;
    line-height: 30px;
    margin-bottom: 30px 
}
#Info .footer-info{
    margin: 0px;
    padding: 0px;
}
#Info .footer-info li{
    list-style-type: none;
}

#Info .footer-info li a{
    display: block;
    text-decoration: none ;
}

#Info .footer-info li a i{
    float: left;
    height: 32px;
    line-height: 32px;
    margin-right: 12px;
    font-size: 14px;
    color: #fff;
}
#Info .footer-info li a:hover{
    transform: translateX(10%)
}

#Info .footer-info li a span{
    font-weight: 400;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    color: #FFF7F5;
}

#Info .address p{
    display: block;
    font-weight: 400;
    font-size: 14px;
    color: #FFF7F5;
    line-height: 26px;
    letter-spacing: 0.88px;
    margin-bottom: 5px;
}
#Info .address p a{
    color: #FFF7F5;
}
#Info .address .social{
    margin: 5px 0px 0px 0px;
    padding: 0px
}

#Info .address .social li{
    list-style-type: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
}
#Info .address .social li a{
    color: #FFF7F5;
}
#Info .copyright{
    text-align: center;
    border-top: 1px solid #3C3761;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    color: #FFF7F5;
    letter-spacing: 0.88px;
}


/* footer end */


/* #our-team start */

#our-team{
 padding-top: 80px;
 padding-bottom: 120px;
}

#our-team .header-text h2{
    font-weight: 400;
    font-size: 28px;
    color: #3B566E;
    letter-spacing: 1.75px;
    line-height: 38px;
    margin-bottom: 20px;
}

#our-team .header-text span{
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}


#our-team .team-card .team-content{
 text-align: center;
 box-shadow: 0 2px 48px 0 rgb(0 0 0 / 8%);
 position: relative;
 border-bottom-left-radius: 5px;
 border-bottom-right-radius: 5px;
 
}

#our-team .team-card .team-content .team-info{
    background-color: #35305c;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#our-team .team-card .team-content .team-info h3{
    display: block;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.69px;
    margin-top: 5px;
}

#our-team .team-card .team-content .team-info span{
    display: block;
    font-weight: 400;
    font-size: 12px;
    color: #FFF7F5;
    letter-spacing: 0.6px;
}

#our-team .team-card .team-content .social{
    text-align: center;
    padding: 0px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#our-team .team-card .team-content .social li{
    list-style: none;
    display: inline-block;
   
}

#our-team .team-card .team-content .social li a{
    color: #1A153A;
    font-size: 15px;
    letter-spacing: 15px;
}

#our-team .team-card .team-content p{
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 60px;
    font-weight: 400;
    font-size: 14px;
    color: #6F8BA4;
    letter-spacing: 0.6px;
    line-height: 26px;
}

#our-team .team-card .team-img{
    width: 93px;
    height: 92px;
    border: 6px solid #fff;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 8%);
    border-radius: 50%;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: -25px;
}
    
#our-team .team-card .team-img img{
 border-radius: 50%;
 max-width: 100%;
}

/* #our-team end */

/* pricing-plans start */


#pricing-plans{
    background-color: #f7fafd;
    padding: 80px 0px;
}
#pricing-plans .header-text h2{
    font-weight: 400;
    font-size: 28px;
    color: #3B566E;
    letter-spacing: 1.75px;
    line-height: 38px;
    margin-bottom: 20px;
}

#pricing-plans .header-text span{
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

#pricing-plans .item-menu .item-header{
    border-bottom: 3px solid #F7F6FF;
    text-align: center;
    height: 130px;
    display: block;
    position: relative;
    
}

#pricing-plans .item-center .item-header::after{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    margin: auto;
    background-image: linear-gradient(135deg, #1A153A 0%, #565178 100%);
}
#pricing-plans .item-center .item-header .name{
    z-index: 2;
    color: #fff;
}

#pricing-plans .item-menu .item-header h3{
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    color: #3B566E;
    position: absolute;
    width: 100%;
    top: 46%;
}
#pricing-plans .item-menu{
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 8%);
    border-radius: 5px;
}
#pricing-plans .item-menu .item-text .number{
    width: 42px;
    height: 42px;
    line-height: 42px;
    background: #F7F6FF;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    margin-top: -20px;
    position: relative;
}
#pricing-plans .item-menu .item-text .price{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}


#pricing-plans .item-menu .item-text .price .dollar{
    height: 47px;
    font-weight: 600;
    font-size: 20px;
    color: #1A153A;
    position: relative;
    top: -15px;

}

#pricing-plans .item-menu .item-text .price .money{
    font-weight: 700;
    font-size: 34px;
    color: #1A153A;
    letter-spacing: 2.12px;
}

#pricing-plans .item-menu .item-text .price .time{
    font-weight: 700;
    font-size: 14px;
    color: #1A153A;
    letter-spacing: 0.88px;
}

#pricing-plans .item-menu .item-text .list{
    padding: 0px;
    margin: 0px;
}
#pricing-plans .item-menu .item-text .list li{
    list-style: none;
    text-align: center;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 14px;
    color: #CCDCEA;
    letter-spacing: 0.88px;
    text-decoration: line-through;
}

#pricing-plans .item-menu .item-text .list .active{
    color: #3B566E;
    text-decoration: none;
}

#pricing-plans .item-menu .item-button a{
    text-transform: uppercase;
    width: 160px;
    margin: auto;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius: 5px;
    background: #1A153A;
    margin-bottom: 40px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.75px;
    text-decoration: none;
    position: relative;
}
    /* pricing-plans end */


    /* parallax-text start */
    #parallax-text{
        position: relative;
        overflow: hidden;
    }
    #parallax-text:before{
        content: '';
        position: absolute;
        width: 140%;
        height: 140%;
        opacity: .80;
        background: #1A153A;
        z-index: 0;
        top: -20%;
        left: -20%;
    }
    #parallax-text .parallax-content{
        position: absolute;
        top: 100px;
        width: 100%; 
        z-index: 3;
    }
    #parallax-text .parallax-content .info{
        text-align: center;
        font-weight: 400;
        font-size: 22px;
        color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #parallax-text .parallax-content .info a{
     width: 160px;
     text-decoration: none;
    display: inline-block;
    height: 44px;
    line-height: 45px;
    border-radius: 5px;
    background: #fff;
    font-weight: 700;
    font-size: 12px;
    color: #1A153A;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    position: relative;
    }

    #parallax-text .parallax-content .info p{
        letter-spacing: 1px;
         margin-bottom: 40px;
    }

    /* parallax end */

    #blog-menu{
        margin: 100px 0px;
    }

    #blog-menu .header-text h2{
        font-weight: 400;
        font-size: 28px;
        color: #3B566E;
        letter-spacing: 1.75px;
        line-height: 38px;
        margin-bottom: 20px;
    }
    
    #blog-menu .header-text span{
        display: inline-block;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 1px;
        margin-bottom: 50px;
    }

    #blog-menu .blog-cards{
        text-align: center;
    }
    #blog-menu .blog-cards .image{
        border-radius: 5px;
        margin-bottom: 25px;
        position: relative;
        height: 200px;
        overflow: hidden;   
        
    }

    #blog-menu .blog-cards .image img{
        max-width: 100%;
        padding: 0px;
        margin: 0px;
        
    }
    #blog-menu .blog-cards .blog-text{
        box-sizing: border-box;
    }
    #blog-menu .blog-cards .blog-text h3{
        font-weight: 400;
        font-size: 16px;
        color: #3B566E;
        letter-spacing: 1px;
        line-height: 35px;
    }
    #blog-menu .blog-cards .blog-text span{
        font-weight: 400;
        font-size: 14px;
        color: #6F8BA4;
        letter-spacing: 0.88px;
        line-height: 26px;
        margin-bottom: 15px;
        display: block;
}

    #blog-menu .blog-cards .blog-text a{
        text-decoration: none;
        width: 160px;
        height: 44px;
        line-height: 44px;
        text-align: center;
        display: inline-block;
        border: none;
        border-radius: 5px;
        background: #1A153A;
        font-weight: 700;
        font-size: 12px;
        color: #fff;
        letter-spacing: 0.75px;
        transition: 0.5s;
        text-transform: uppercase;   
    }
    #blog-menu .blog-cards .blog-text a:hover{
        transition: 0.5s;
        background: #100d25;
    }

/* about.html start */

/* promo start */

#promo .header-text h2{
    font-weight: 400;
    font-size: 28px;
    color: #3B566E;
    letter-spacing: 1.75px;
    line-height: 38px;
    margin-bottom: 20px;
}

#promo .header-text span{
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 50px;
}

#mission{
    margin: 100px 0px;
}

#mission .about{
    border-radius: 5px;
    
}
#mission .about .about-image{
    width: 70%;
    float: left;
    height: 500px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    border-radius: 5px;
    
}


#mission .about .about-image img{
    max-width: 100%;
    position: absolute;
    transition: 0.5s;
}

#mission .about .about-image img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

#mission .about .about-text{
    position: absolute;
    z-index: 2;
    width: 40%;
    float: right;
    right: 0px;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    background: #fff;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 8%);
    border-radius: 5px;
    padding: 30px;
    padding-bottom: 10px;

}

#mission .about .about-text h2{
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 1.75px;
    color: #3B566E;
    margin-bottom: 20px;
} 

#mission .about .about-text p{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 20px;
}

#vision{
    margin: 100px 0px;
}

#vision .about{
    border-radius: 5px;
    
}
#vision .about .about-image{
    width: 70%;
    float: right;
    height: 500px;
    overflow: hidden;
    z-index: 1;
    border-radius: 5px;    
}


#vision .about .about-image img{
    max-width: 100%;
    transition: 0.5s;
}

#vision .about .about-image img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

#vision .about .about-text{
    position: absolute;
    z-index: 2;
    width: 40%;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    background: #fff;
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 8%);
    border-radius: 5px;
    padding: 30px;
    padding-bottom: 10px;

}

#vision .about .about-text h2{
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 1.75px;
    color: #3B566E;
    margin-bottom: 20px;
} 

#vision .about .about-text p{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 20px;
}



